.react-grid-item {
   background-color:whitesmoke;
    justifyContent: 'space-between';
    /*    max-width:1000px;*/
        max-width:1660px;
}
.molPane > div {
    width:75%;
    margin: 0 auto;
}

.image-gallery .image-gallery-thumbnail.active {
    border: 2px solid black;
}
.image-gallery-thumbnails div {
    display:inline-block;
}

.molPane {
    margin:1rem;
}